{% extends "base.html" %}


{% block page_header %}
  <div class="page-header">
      <h1>{{ vouch.voucher.username }}
          {% if vouch.voucher.firstname or vouch.voucher.lastname %}
          - {{ vouch.voucher.firstname }} {{ vouch.voucher.lastname }}
          {% endif%}
      </h1>
      {% if is_owner %}
      <p align="right">
        <a href="{{ url_for('vouchs.edit', identifier=vouch.voucher.username) }}"
            class="btn btn-primary btn-large">Edit
        </a>
      </p>
      {% endif %}
  </div>
{% endblock %}

{% block content %}
{% for v in vouch.vouchees %}
    <h2>
        <a href="{{ url_for('persons.detail', identifier=v.vouchee.username) }}">
            {{ v.vouchee.username }}</a>
    </h2>
    <p> {{ v.vouch }}</p>
{% endfor %}

{% endblock %}
