{% extends "base.html" %}

{% block content %}
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Handle</th>
            <th>OTR</th>
        </tr>
    </thead>
    {% for im in ims %}
      <tr>
          <td><a href="{{ url_for('ims.detail', identifier=im.handle) }}">
                  {{ im.handle }}
          </a></td>
          <td>
          {% if im.otr %}
            {% for o in im.otr %}
                {{ o }}
            {% endfor %}
          {% endif %}
          </td>
      </tr>
    {% endfor %}
    </table>
    <p align="right">
      <a href="{{ url_for('ims.create') }}" class="btn btn-primary">
          Create new
      </a>
    </p>
{% endblock %}
