{% extends "base.html" %}

{% block content %}
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Organisation name</th>
            <th>Email</th>
            <th>Is a CERT</th>
        </tr>
    </thead>
    {% for org in orgs %}
      <tr>
          <td><a href="{{ url_for('orgs.detail', identifier=org.name) }}">
                  {{ org.name }}
          </a></td>
          <td> {{ org.email }}
              {% if org.email in org.pgpkey.emails %}
                -
                <a href="{{ url_for('pgpkeys.detail', identifier=org.pgpkey.keyid) }}">
                    PGP Key
                </a>
              {% endif %}
          </td>
          {% if org.iscert %}
            <td>✔</td>
          {% else %}
            <td>✘</td>
          {% endif %}
      </tr>
    {% endfor %}
    </table>
{% endblock %}
