{% extends "base.html" %}

{% block content %}
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Organisation name</th>
            <th>Email</th>
            <th>Is a CERT</th>
        </tr>
    </thead>
    {% for org in orgs %}
      <tr>
          <td><a href="{{ url_for('orgs.detail', slug=org.slug) }}">
                  {{ org.name }}
          </a></td>
          {% if org.pgp_key is not None %}
            <td><a href="{{ url_for('pgpkey.detail', slug=pgpkey.keyid) }}">
                    {{ org.email }}
            </a></td>
          {% else %}
            <td>{{ org.email }} </td>
          {% endif %}
          {% if org.iscert %}
            <td>✔</td>
          {% else %}
            <td>✘</td>
          {% endif %}
      </tr>
    {% endfor %}
    </table>
{% endblock %}
