{% extends "base.html" %}

{% block content %}
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Key ID</th>
            <th>UIDs</th>
        </tr>
    </thead>
    {% for pgpkey in pgpkeys %}
      <tr>
          <td><a href="{{ url_for('pgpkeys.detail', identifier=pgpkey.keyid) }}">
                  {{ pgpkey.keyid }}
          </a></td>
          <td>
          {% if pgpkey.uids %}
            {% for uid in pgpkey.uids %}
                {{ uid }}
            {% endfor %}
          {% endif %}
          </td>
      </tr>
    {% endfor %}
    </table>
{% endblock %}
